# compiled py files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
src/dist/
#* dist is managed through scripts.

# from build scripts
src/LICENSE*

# exclude vscode config dir but include unittest config in settings.json
!.vscode/
.vscode/*
!.vscode/settings.json

# Environments 
#* shouldnt be used. managed through scripts.
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#* unused but might be in the future

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# PyPI configuration file
.pypirc
